
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
}

h1 {
  color: #fff;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 1px;overflow-x: 
  margin: 0px;
}

h2 {
  color: #fff;
  font-size: 2em;
  font-weight: lighter;
  margin: 0px;
  text-align: center;
}

p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1.1em;
  margin-bottom: 1px;
  margin-top: 10px;
}

#career-field {
  margin-top: 20px;
}

header {
  background-color: #59A59D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 20px;
  width: 66.6666%;
}

header,
article {
  height: 33.3333vh;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 33.3333%;
}

button {
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 0.7em;
  height: 30px;
  margin-right: 10px;
  width: 100px;
}

article img {
  display: block;
  height: 25%;
  padding-bottom: 6px;
}

.scroll {
  background-color: white;
}

article p {
  font-size: 14px;
}
.left-side {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  width: 60%;
}

.right-side {
  background: url(images/sweater_corgi.jpg) no-repeat;
  background-size: 100% 100%;
  align-items: center;
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  width: 40%;
}

.page {
  background-color: white;
  border-radius: 50%;
  height: 10px;
  opacity: .5;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 10px;
}

#page1 {
  opacity: .9;
  right: 45px;
}

#page2 {
  right: 30px;
}

.scroll {
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
  height: 50px;
  margin: 20px;
  opacity: .7;
  width: 50px;
}

#scroll-prev {
  background-image: url('/images/prev.svg');
}

#scroll-next {
  background-image: url('/images/next.svg');
}

input:hover {
  background-color: #00FFFFFF;
}

button {
  padding-bottom: 5px;
  padding-top: 5px;

}

.button-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

#contact-button {
  margin-left: 15px;
}

#resume-button {
  margin-right: 15px;
}

.article1,
.article6 {
  background-color: rgb(113, 187, 125);
}

.article2,
.article7 {
  background-color: rgb(232, 157, 37);
}

.article3 {
  background-color: rgb(82, 138, 193);
}

.article4 {
  background-color: rgb(219, 104, 47);
}

.article5 {
  background-color: rgb(81, 69, 218);
}

@media (max-width: 1250px) {
  .left-side {
    height: 20vw;
    width: 66.6666%;
  }
  
  .right-side {
    background: url(images/sweater_corgi.jpg) no-repeat;
    width: 33.3333%
  }
}

@media (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
    width: 100%;
  }
  
  .left-side {
    height: 20vw;
    width: 100%;
  }
  
  .right-side {
    background: url(images/sweater_corgi.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 55vw;
    width: 100%;
  }
}

@media (max-width: 680px) {
  header {
    height: fit-content;
    padding: 10px;
    width: 100%;
  }
  
  h1 {
    font-size: 1.8em;
  }
  
  p{
    margin: 5px 0;
  }
  
  article {
    height: 160px;
    width: 50%;
  }
  
  button {
    font-size: 12px;
    height: 40px;
    margin: 6px 0 0 0;
  }
  
  .left-side {
    flex-wrap: none;
  }
  
  .right-side {
    height: 160px;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .scroll {
    height: 35px;
    width: 35px;
  }
  
  .article1{
    width: 100%;
  }
}
